/* Estilos globales: cabecera + navegación + contenido + footer */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header div {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15vh;
    /* Decoración superior con Pokéball + separador. El header se verá como una Pokéball, con su botón en el medio */
    background: url('/assets/img/ball_arriba.png') bottom center / 5% no-repeat, linear-gradient( to bottom, transparent calc(100% - 2px), #000 calc(100% - 2px)), red;
    padding: 1vh 0px;
}

header img {
    height: 100%;
    width: auto;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1vh 0px;
    height: 3vh;
    width: 100%;
    /* Decoración inferior con Pokéball + separador. El header se verá como una Pokéball, con su botón en el medio */
    background: url('/assets/img/ball_abajo.png') top center / 5% no-repeat, linear-gradient( to top, transparent calc(100% - 2px), #000 calc(100% - 2px)), white;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

main {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), URL('../assets/img/fondo.png');
    background-size: cover;
    margin: 0px;
    width: 98%;
    min-height: 72.4vh;
    padding: 0px 1% 0.5% 1%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    height: 2.5vh;
    font-size: 0.75rem;
    width: 100%;
}